.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
    background-color: #fff;
}
.main .nav .profile{
    /* padding: 10px; */
    border-radius: 50%;
    /* background-color: chocolate; */
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    height: 32px;
}
.logout-wrap{
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    width: 120px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    background-color: rgb(211, 227, 253);
    text-align: center;
}
.logout-wrap button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 17px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-left: 30px;
}
.logout-wrap button:hover{
    text-decoration: underline;
}
.logout-wrap .logouticon {
    position: absolute;
    width: 18px;
    top: 17px;
    left: 14px;
}
.logout-wrap .closeicon {
    position: absolute;
    width: 34px;
    top: -42px;
    left: 87px;
    border-radius: 50%;
    cursor: pointer;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards ul{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}
.main .cards ul li{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.main .cards ul li img{
    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .cards ul li p{
    color: #585858;
    font-size: 17px;
}
.main .cards ul li:hover{
    background-color: #dfe4ea;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 15px 20px 0;
    margin: auto;
    background-color: #fff;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 9px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .main .greet{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    .main .nav{
        position: fixed;
        width: 100%;
    }
    .main{
        margin-left: 0;
    }
    .search-box div{
        gap: 10px;
    }
    .search-box{
        padding-right: 10px;
    }
    .search-box{
        gap: 10px;
    }
    .main-bottom{
        position: fixed;
    }
}